<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="alert.js" ></script>

    <style>
     body{
         background-color:black;
     }
      .forms{
          text-align: center;
          margin-top: 200px;
          
          
          
      }
      .i{
          margin: 5px;
          padding-right: 30px;
          padding-left: 30px;
          border-radius: 2px;
          border-style: hidden;
          
      }
      h3{
        
          
          color:white;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
    
    </style>
</head>
<body>
    <div>
        
    <form class="forms" action="register" method="POST">
        {% csrf_token %}
        <h3>REGISTER HERE</h3>
        <input type="text" class="i" name="first_name" placeholder="First Name"><br>
        <input type="text" class="i" name="last_name" placeholder="Last Name"><br>
        <input type="text" class="i" name="username" placeholder="Username"><br>
        <input type="text" class="i" name="email" placeholder="email"><br>
        <input type="text" class="i" name="pass1" placeholder="password"><br>
        <input type="text" class="i" name="pass2" placeholder="confirm password"><br>
        <input type="text" class="i" name="city" placeholder="City"><br>
        <input type="text" class="i" name="area" placeholder="Area/Locality"><br>
        <input type="number" class="i" name="pincode" placeholder="Area Pincode"><br>

        <input type="Submit">
    </div>
        

    </form>
    <div>
        {% for message in messages %}
            <script type="text/javascript">
                alert('{{message}}');
            </script>
        {% endfor %}

    </div>
</body>
</html>